.navb {
    height: 20vh;
}

.al {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw !important;
}

.btn {
    margin-right: 6px !important;
    width: 7em !important; 
    height: 4.5em;
}