/* .patientdet { */
    /* height: 80vh; */
    /* width: 100vw; */
/* } */

.profileImage {
    border-radius: 50%;
    height: 50vh;
    width: 50vh;
    object-position: center;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 60%;
    width: 100%;
}

.name,
.job,
.status {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
}

/* img {
    height: 100% !important;
} */